@import "./styles/header.scss";
@import "./styles/block1.scss";
@import "./styles/block2.scss";
@import "./styles/block3.scss";
@import "./styles/block4.scss";
@import "./styles/popap.scss";
@import "./styles/footer.scss";

body{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}